.scroll-wrapper {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;

    .item {
        background-color: rgb(255, 243, 243);
        border-bottom: 1px solid lightgrey;
        padding: 10px;

        h4 {
            margin: 0px;
        }
    }
}